@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,600;1,700&display=swap');

:root {
  --primary-color: #2c72b8;
  --secondary-color: #ffffff;
  --text-primary: #b3b3b3;
  --text-secondary: #eeeeee;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--primary-color);
  font-family: 'Kanit', sans-serif;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-bounce {
  animation: bounce 1s infinite;
}
